body {
	margin: 0;
	font: 12px sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0, 0.5);
}
canvas {
	display: block;
}
#output {
	position: absolute;
	top: 30px;
	left: 30px;
	font: 12px Monaco, monospace;
}
#output .tab {
	display: inline-block;
	width: 2.4em;
}
.example-back {
	position: absolute;
	padding: 5px 10px;
	background: #e9e9e9;
	border: 1px solid #afafaf;
	-webkit-border-radius: 0 0 4px 0;
	        border-radius: 0 0 4px 0;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
